<p>gallery works!</p>


<h1 (click)="indexItem()">click to next apples </h1>

<div class="gallery">
    <div class="gallery__img" *ngFor="let i of items;">
        <div>
            <p>Shot by Chris </p>
            <app-card [num]=i></app-card>
        </div>
    </div>
    
    <!-- <div class="gallery__img">
        <p>Shot by Chris Harrington</p>
        <img src="../../../assets/img/gallery1.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Michael Jhonson</p>
        <img src="../../../assets/img/gallery2.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Huwiti Rocco </p>
        <img src="../../../assets/img/gallery3.jpeg" alt="">
       
    </div>
    <div class="gallery__img">
        <p>Shot by Lenora Reilly </p>
        <img src="../../../assets/img/gallery4.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Ralph Sachin </p>
        <img src="../../../assets/img/gallery5.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Odilia Iris </p>
        <img src="../../../assets/img/gallery6.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Brittney Brennus </p>
        <img src="../../../assets/img/gallery7.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Nima Katsu </p>
        <img src="../../../assets/img/gallery8.jpeg" alt="">
    </div>
    <div class="gallery__img">
        <p>Shot by Snorri Belenos </p>
        <img src="../../../assets/img/gallery9.jpeg" alt="">
    </div> -->

</div>