.gallery {
    font-family: "Montserrat", sans-serif;
    margin: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2em;
}

.gallery__img{
    position: relative;
     /* z-index: -1; */
    /* display: block; */
    /* transform: translate(0px, 100px); */
    transition: all 1s;
    /* opacity: 0; */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}
img{
    height: 350px;
    width: 500px;

}
h1{
    text-align:center;
    border: 2px dashed blue;
    padding: 1rem;
    margin:  3rem;
    background: rgb(245, 197, 94);
    color:blue
}


